*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.homepage {
  background: linear-gradient(to right, #735340, #E3A783);
  height: 100vh;
}

.menu {
  height: 10%;
}



.nav-link {
  color: #ffffff;
  font-size: 1.15em;
  font-weight: bold;
  
}

.home {
  height: 90%;
  display: flex;
  align-items: center;
}

.home-text {
  background-color: blueviolet;
  width: 450px;
  margin: 10em;
}

.home-img {
  position: absolute;
  top: 10%;
  right: 0px;
}
.home-img > img {
  width: 780px;
}
