*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.container0 {
  height: 100vh;
  background-image: url(../images/projeto2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.princAtendimentos {
  background-color: $bg-color;
}
