*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container0 {
  height: 100vh;
  background-image: url(../../images/projeto2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homeText {
  padding-top: 200px;
  width: 500px;
}