.homeText {
  padding-top: 130px;
  width: 550px;
  
  .titleAlign{
    text-align: center;
    margin-bottom: 30px;
    .titleDesperte{
      margin: 0px;
      color: $bg-btn-color;
      font-size: 80px;
      font-weight: bold;
    }
    .titleEnergia{
      color: white;
      padding-top: 0px;
      font-size: 30px;
      font-weight: 600;
    }
    
  }
  .paragraph{
    color: white;
    font-size: 1.3em;
    line-height: 1.6em;
  }
}

.whatsBox{
  .h2 {
    padding-top: 30px;
    font-weight: 700;
    text-align: center;
    color: $bg-btn-color;
  }
  .h5 {
    font-weight: 100;
    text-align: center;
    color: white;
    margin-bottom: 50px;
  }
  .atendimentos{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 800px;
    color: white;
  }
  .descAtendimentos {
    color: white;
    font-size: 1.2em;
  }
  .card {
    background-image: linear-gradient(#bf935e, #bf935e);
    overflow: hidden;
    border-radius: 16px;
    max-width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    cursor: pointer;
    transition: all .5s;
    
  }
  .card:hover {
    background-image: linear-gradient(#c7ab87, #bf935e);
  }
  .card .img{
    background-position: center;
    background-size: cover;
    width: 310px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .8;
    transition: all .5s;
    z-index: 2;
  }

  .card:hover .img {
    opacity: 1;
    width: 400px;
  }
  .card .img01{
    background-image: url(../images/tarot.jpg);
  }
  .card .img02{
    background-image: url(../images/leituracartas.jpg);
  }
  .card .img03{
    background-image: url(../images/reikiwagner.jpg);
  }
  .card .img04{
    background-image: url(../images/harmonizacao.jpg);
  }
  .card .img span {
    font-size: 20px;
  }
  .card .content {
    padding: 0 15px;
    overflow: hidden;
    height: 0px;
    transition: all .5s;
    transform: translateY(30px);
  }
  .card:hover .content {
    padding: 20px;
    height: 400px;
    transform: translateY(0px);
  }
  .card .content .spanTitle {
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }

  .card .content .desc {
    font-size: 0.94em;
    font-weight: 100;
    opacity: .7;
    margin-bottom: 0px;
  }

  .card .arrow {
    padding: 15px;
    font-size: 25px;
    transform: rotate(-180deg);
    transition: all .5s;
  }

  .card:hover .arrow {
    transform: rotate(0deg);
  }
}