.container0 {
  height: 100vh;
  background-image: url("../../images/imgWhats\ prov.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homeText {
  padding-top: 300px;
  width: 550px;
  .titleAlign{
    text-align: center;
    margin-bottom: 50px;
    .titleDesperte{
      font-size: 80px;
      font-weight: bold;
    }
    .titleEnergia{
      font-size: 50px;
      font-weight: 600;
    }
    
  }
  .paragraph{
    color: white;
    font-size: 1.3em;
  }
}