@media (max-width: 600px) {
  .container0 {
    height: 100vh;
    background-image: url(../images/projeto2.png);
    background-position: 60%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}